* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    font-size: 41px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

main.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

form.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem;
    margin: 1rem;
}

form.box label {
    text-align: center;
}

form.box input {
    font-size: 21px;
    border: 2px solid gray;
    border-radius: 15px;
    margin: 0.25rem;
    outline: 0;
    height: 1rem;
    padding: 0.5rem;
}

.photoContainer {
    width: 85vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.photoContainer img {
    margin: 20px;
    width: 200px;
    border: 1px solid black;
    border-radius: 3px;
    transition: transform .2s ease-in-out;
}

.photoContainer img:hover {
    cursor: pointer;
    transform: rotate(5deg) scale(1.1);
}

.alert {
    color: red;
    font-size: 16px;
}