* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    font-size: 41px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem;
    margin: 1rem;
}

.box label {
    text-align: center;
}

.box input {
    font-size: 21px;
    border: 2px solid gray;
    border-radius: 15px;
    margin: 0.25rem;
    outline: 0;
    height: 1rem;
    padding: 0.5rem;
}

.photoContainer {
    width: 85vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.photoContainer .photo {
    margin: 20px;
    width: 200px;
    border-radius: 3px;
    transition: transform .2s ease-in-out;
}

.photoContainer .photo:hover {
    cursor: pointer;
}

.alert {
    color: red;
    font-size: 16px;
}